#booklet-container {
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
}

.booklet {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
}

.first {
  position: absolute;
  top: 0;
  left: 0;
}

.last {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 450px) {
  .first {
    top: 0;
    left: 0;
  }
}

.hidden {
  opacity: 0;
}

.page {
  background-color: white;
  width: 100vw;
  height: 43vh;
  box-sizing: border-box;
  padding: 30px 0;
}

.page .headline {
  border-bottom: 1px solid #e2e2e2;
  margin: 0 auto 6px;
  width: 90%;
  text-align: left;
  font-size: 1.15rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.page .headline .image {
  display: inline-block;
}

.page .headline span {
  display: inline-block;
  width: calc(90vw - 90px);
  margin-left: 10px;
  vertical-align: top;
}

.page .byline {
  text-align: left;
  width: 90%;
  margin: 0 auto 16px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 100;
}

.page .snippet {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  font-family: Georgia, serif;
}

.page .snippet span.text::after {
  content: ' ';
}

@media (min-width: 450px) {
  .page {
    width: 50vw;
  }

  .page .headline {
    width: 75%;
    padding-bottom: 12px;
    font-size: 1.5625rem;
    line-height: 1.6875rem;
    font-weight: 700;
  }

  .page .headline .image {
    min-width: 100%;
    margin-bottom: 16px;
  }

  .page .headline span {
    display: inline;
    width: 100%;
    margin-left: 0;
    position: inherit;
    top: 0;
  }

  .page .byline {
    width: 75%;
  }

  .page .snippet {
    width: 75%;
    font-size: 16px;
  }

  .flip-container {
    position: absolute;
    bottom: 0;
    perspective: 100vw;
    perspective-origin: center top;
  }
  .flip-container .flipper {
    transform-origin: 0% 50%;
  }
  .flip-container.flip .flipper {
    transform: rotateX(180deg);
    transform-origin: 100% 50%;
  }

  .flip-container,
  .front,
  .back {
    height: 50%;
  }

  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    transform-origin: 100% 50%;

    position: relative;
  }

  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    background-color: white;
  }

  .front {
    /* for firefox 31 */
    /* transform: rotateX(0deg);*/
  }

  .back {
    transform: rotate3D(0, 1, 0, 180deg);
    transform-origin: center;
  }
  .back .article.top {
    transform: rotate(180deg);
  }

  @media (min-width: 450px) {
    .flip-container {
      position: absolute;
      right: 0;
      top: 0;
      perspective: 100vw;
      perspective-origin: left top;
    }
    .flip-container .flipper {
      transform-origin: 0% 50%;
    }
    .flip-container,
    .front,
    .back {
      width: 50vw;
    }
    .flip-container.flip .flipper {
      transform: rotateY(-180deg);
      transform-origin: 0% 0%;
    }
    .front,
    .back {
      backface-visibility: hidden;
      position: absolute;
      background-color: white;
      height: 100vh;
    }
    .front {
      /* for firefox 31 */
      /*transform: rotateY(0deg);*/
    }
    .back {
      transform: rotateY(180deg);
    }
    .back .article.top {
      transform: rotate(0deg);
    }
  }
}
